body { 
    background-color: #D93535;
    font-size: 1.2em; 
}

header {    
    padding: .2em; 
}


table{
	width: 100%; 
	background-image: url("images/nightmarehouse.jpg"); 
}

th, td {
    padding: 1.5em;
    text-align: center;
    color: white; 
}

a:link {
    color: black;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: blue;
}

h1, h2, h3{
	text-align: center; 
}

p {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-right: 2em;
    margin-left: 2em;
}

.bottom{
	text-align: center;
}

#picpattern{
    margin: 1.3em;
}

#picbot{
    margin: 1.5em;
}

